.tab-item-container {
  list-style-type: none;
  margin-right: 30px;
}

.tab-btn {
  border: 1px solid #db1c48;
  background-color: #ffffff;
  color: #db1c48;
  border-radius: 10px;
  padding: 10px;
}

.activeButton {
  background-color: #db1c48;
  color:#ffffff
}
